<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Open311 Endpoint Scanner</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/care/">Logs</a></li>
          <li><a href="/share/">About</a></li>
      </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
